/* Styles for the portfolio section */
.portfolio-section {
    padding: 8rem 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: transparent;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
    width: 100%;
    /* Optional max width for larger screens */
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media screen and (max-width: 480px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}