@inject IJSRuntime js

<nav class="navbar" id="navbar">
    <h5 class="navbar-title">
        <a href="#home" class="navbar-logo">Samuel Furlanich</a>
    </h5>

    <div class="navbar-links" id="navbarLinks">
        <a href="#about">About</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
        <select @onchange="OnLanguageChange">
            <option value="en-US">English</option>
            <option value="es">Español</option>
        </select>
    </div>

    <button class="hamburger" @onclick="ToggleMenu">
        <!-- Hamburger Icon -->
        &#9776;
    </button>

    <div class="dropdown-menu" id="dropdownMenu" style="display: @(isMenuOpen ? "block" : "none")">
        <a href="#about" @onclick="CloseMenu">About</a>
        <a href="#portfolio" @onclick="CloseMenu">Portfolio</a>
        <a href="#contact" @onclick="CloseMenu">Contact</a>
        <select @onchange="OnLanguageChange">
            <option value="en-US">English</option>
            <option value="es">Español</option>
        </select>
    </div>
</nav>


@code
{
    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }

    private void CloseMenu()
    {
        isMenuOpen = false;
    }

    private async Task OnLanguageChange(ChangeEventArgs eventChange)
    {
        if (eventChange?.Value is null)
        {
            // Handle error or fallback to default culture
            return;
        }

        var culture = eventChange.Value.ToString();

        // Save the culture to localStorage
        await js.InvokeVoidAsync("localStorage.setItem", "PortfolioCulture", culture);

        // Reload the page to apply the new culture
        await js.InvokeVoidAsync("location.reload");
    }
}
