/* Styling for the google drive button link */
.download-file-button {
    display: flex;
    align-items: center;
    /* Ocean blue background */
    background-color: aliceblue;
    /* Dark blue border */
    border: 2px solid rgba(20, 31, 56, 1);
    padding: 0.5rem 1rem;
    /* Smoothed borders */
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin-top: 1rem;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Image icon styling */
.download-file-icon {
    width: 24px;
    height: 24px;
    /* Space between the image and the text */
    margin-left: 0.75rem;
}

/* Styling for the text inside the google drive button */
.download-file-button h5 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(39, 61, 110, 1);
}

/* Hover effects for the button */
.download-file-button:hover {
    /* Ocean blue background */
    background-color: rgba(49, 81, 140, 1);
    /* Lift the button slightly */
    transform: translateY(-3px);
}

    .download-file-button:hover h5 {
        color: aliceblue;
    }

    .download-file-button:hover img {
        filter: brightness(0) invert(1) brightness(1000%);
    }