#container3D canvas {
    height: 100vh !important;
    width: 100vw !important;
    position: absolute;
    top: 0;
    left: 0;
}

.home-content {
    position: absolute;
    top: 10%;
    left: 2rem;
}

.home-arrow {
    position: absolute;
    bottom: 8rem;
    left: 50%;
    /* Centers the arrow horizontally */
    transform: translateX(-50%);
}

section.dark {
    /* Ensure the positioning context is maintained */
    position: relative;
    /* Prevent content from overflowing */
    overflow: hidden;
    /* Remove any unwanted padding */
    padding: 0;
    /* Ensure no extra margin */
    margin: 0;
    /* Ensure the section takes up full height */
    min-height: 100vh;
    /* Ensure the section takes up full width */
    width: 100%;
    /* Use flexbox to control child elements */
    display: flex;
    /* Stack children vertically */
    flex-direction: column;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
}

section img.background {
    /* Adjust to container width */
    width: 100%;
    /* Keep aspect ratio */
    height: auto;
    /* Prevent image from exceeding section */
    max-width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    /* Ensures the image covers the section without distortion */
    object-fit: cover;
}
