.project-box {
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
    padding: 1rem;
    /* Ensure the project box takes full width of the grid cell */
    width: 100%;
    box-sizing: border-box;
}

    .project-box:hover {
        transform: translateY(-5px);
    }

.project-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.project-slideshow img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.project-info {
    padding-left: 1rem;
}

    .project-info h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .project-info p {
        font-size: 1rem;
        color: #555;
    }

.technology-logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.tech-logo {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

    .tech-logo:hover {
        transform: scale(1.2);
    }

.github-button {
    /* Increased to allow space for border and padding */
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: transparent;
    /* To center the content */
    display: flex;
    /* Center horizontally */
    justify-content: center;
    /* Center vertically */
    align-items: center;
}

.github-button img {
    /* Size of the icon */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* Use box-shadow for the border effect */
    transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out, transform 0.2s;;
}

.github-button img:hover {
    /* Small border that covers gap between box-shadow and appears only on hover */
    border: 1px mediumslateblue;
    /* Simulate an outward border */
    box-shadow: 0 0 0 3px mediumslateblue;
}

.github-button img:active {
    transform: scale(1.3);
}

