@page "/"
@inject HttpClient Http
@inject HeroImageService HeroImageService
@inject BrowserService BrowserService
@inject IStringLocalizer<Resource> Localizer
@inject IJSRuntime Js

<PageTitle>@Localizer["title"]</PageTitle>

<div class="glass-overlay">
    <!-- Spotlight div -->
    <div id="spotlight" class="spotlight"></div>
    <Header Http=@Http BrowserService=@BrowserService />
    <Home Http=@Http JS=@Js HeroImageService=@HeroImageService />
    <About Http=@Http HeroImageService=@HeroImageService />
    <Portfolio Http=@Http HeroImageService=@HeroImageService />
    <ContactForm Http=@Http HeroImageService=@HeroImageService />
    <Footer Http=@Http />
</div>
<script src="js/spotlight.js"></script>


@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("AOS.init");
        }
    }
}
